<a href="https://colab.research.google.com/github/Kaiwei1011/C/blob/master/colab/A070D101_P3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Display two messages
print("Welcome to Python")
print("Python is funNNNNNY")

Welcome to Python
Python is funNNNNNY

我的第一個作業

In [3]:
# Display three messages
print("Welcome to DPython")
print("Python is Dfun")
print("Problem DDriven")

Welcome to DPython
Python is Dfun
Problem DDriven

我的第二個作業

In [5]:
# Compute expression
print((20.5 + 2 * 3) / (45 - 3.5))

0.6385542168674698

我的第三個作業

In [6]:
# Convert Fahrenheit to Celsius
print("Fahrenheit 35 is Celsius degree ")
print(5 / 9 * (45 - 32))

Fahrenheit 35 is Celsius degree
7.222222222222222

我的第四個作業

In [10]:
# Assign a radius
radius = 20 # radius is now 20

# Compute area
area = radius * radius * 3.14159

# Display results SSSSSSS
print("The area for the circle of radius", radius, "is", area)

The area for the circle of radius 20 is 1256.636

我的第五個作業 第二章

In [11]:
# Prompt the user to enter a radius
radius = eval(input("Enter a number for radius: "))

# Compute area的AREA
area = radius * radius * 3.14159

# Display results
print("The area for the circle of radius", radius, "is", area)

Enter a number for radius: 12
The area for the circle of radius 12 is 452.38896

我的第六個作業

In [14]:
# Prompt the user to enter three numbers
number1 = eval(input("Enter the first number: "))
number2 = eval(input("Enter the second number: "))
number3 = eval(input("Enter the third number: "))
number4 = eval(input("Enter the forth number: "))

# Compute average
average = (number1 + number2 + number3 + number4) / 4

# Display result
print("The average of", number1, number2, number3, number4,
    "is", average)

Enter the first number: 12
Enter the second number: 15
Enter the third number: 17
Enter the forth number: 19
The average of 12 15 17 19 is 15.75

我的第七個作業

In [15]:
# Prompt the user to enter three numbers
number1, number2, number3, number4 = eval(input(
  "Enter three numbers separated by commas: "))

# Compute average
average = (number1 + number2 + number3 + number4) / 4

# Display result
print("The average of", number1, number2, number3, number4,
    "is", average)

Enter three numbers separated by commas: 15,98,54,31
The average of 15 98 54 31 is 49.5

我的第八個作業

In [16]:
# Prompt the user for input
seconds = eval(input("Enter an integer for seconds: "))

# Get minutes and remaining seconds
minutes = seconds // 60     # Find minutes in seconds  一分鐘等於60秒
remainingSeconds = seconds % 60   # Seconds remaining
print(seconds, "seconds is", minutes,  
  "minutes and", remainingSeconds, "seconds")

Enter an integer for seconds: 9000
9000 seconds is 150 minutes and 0 seconds

我的第九個作業

In [17]:
# Prompt the user for input
purchaseAmount = eval(input("Enter purchase amount: "))

# Compute sales tax
tax = purchaseAmount * 0.06

# Display tax amount with two digits after decimal point 看不懂
print("Sales tax is", int(tax * 100) / 100.0)

Enter purchase amount: 198.55
Sales tax is 11.91

我的第十個作業

In [18]:
import time

currentTime = time.time() # Get current time

# Obtain the total seconds since midnight, Jan 1, 1970
totalSeconds = int(currentTime)

# Get the current second 
currentSecond = totalSeconds % 60 

# Obtain the total minutes
totalMinutes = totalSeconds // 60 

# Compute the current minute in the hour
currentMinute = totalMinutes % 60

# Obtain the total hours
totalHours = totalMinutes // 60

# Compute the current hour
currentHour = totalHours % 24

# Display results
print("Current time is " + str(currentHour) + ":"
    + str(currentMinute) + ":" + str(currentSecond) + " GMT")

Current time is 6:35:56 GMT

我的第十一個作業

In [19]:
# Enter yearly interest rate
annualInterestRate = eval(input(
  "Enter annual interest rate, e.g., 8.25: "))
monthlyInterestRate = annualInterestRate / 1200

# Enter number of years
numberOfYears = eval(input(
  "Enter number of years as an integer, e.g., 5: "))
    
# Enter loan amount
loanAmount = eval(input("Enter loan amount, e.g., 120000.95: "))
    
# Calculate payment
monthlyPayment = loanAmount * monthlyInterestRate / (1
  - 1 / (1 + monthlyInterestRate) ** (numberOfYears * 12))
totalPayment = monthlyPayment * numberOfYears * 12

# Display results
print("The monthly payment is", int(monthlyPayment * 100) / 100)
print("The total payment is", int(totalPayment * 100) /100)

Enter annual interest rate, e.g., 8.25: 9.25
Enter number of years as an integer, e.g., 5: 20
Enter loan amount, e.g., 120000.95: 260000
The monthly payment is 2381.25
The total payment is 571500.9

我的第十二個作業

In [20]:
import math # import Math module to use the math functions
 
# Test algebraic functions
print("exp(1.0) =", math.exp(1))
print("log(3.78) =", math.log(math.e))
print("log10(10, 10) =", math.log(10, 10))
print("sqrt(4.0) =", math.sqrt(4.0))
 
# Test trigonometric functions
print("sin(PI / 2) =", math.sin(math.pi / 2))
print("cos(PI / 2) =", math.cos(math.pi / 2))
print("tan(PI / 2) =", math.tan(math.pi / 2))
print("degrees(1.57) =", math.degrees(1.57))
print("radians(90) =", math.radians(90))

exp(1.0) = 2.718281828459045
log(3.78) = 1.0
log10(10, 10) = 1.0
sqrt(4.0) = 2.0
sin(PI / 2) = 1.0
cos(PI / 2) = 6.123233995736766e-17
tan(PI / 2) = 1.633123935319537e+16
degrees(1.57) = 89.95437383553924
radians(90) = 1.5707963267948966

我的第十三個作業  第三章

In [22]:
import math

x1, y1, x2, y2, x3, y3 = eval(input("Enter six coordinates of three points \
separated by commas like x1, y1, x2, y2, x3, y3: "))
 
a = math.sqrt((x2 - x3) * (x2 - x3) + (y2 - y3) * (y2 - y3))
b = math.sqrt((x1 - x3) * (x1 - x3) + (y1 - y3) * (y1 - y3))
c = math.sqrt((x1 - x2) * (x1 - x2) + (y1 - y2) * (y1 - y2))

A = math.degrees(math.acos((a * a - b * b - c * c) / (-2 * b * c)))
B = math.degrees(math.acos((b * b - a * a - c * c) / (-2 * a * c)))
C = math.degrees(math.acos((c * c - b * b - a * a) / (-2 * a * b)))

print("The three angles are ", round(A * 100) / 100.0,  
    round(B * 100) / 100.0, round(C * 100) / 100.0)

Enter six coordinates of three points separated by commas like x1, y1, x2, y2, x3, y3: 1,1,6.5,1,6.5,2.5
The three angles are  15.26 90.0 74.74

我的第十四個作業

In [23]:
# Receive the amount 
amount = eval(input("Enter an amount in double, e.g., 11.56: "))

# Convert the amount to cents
remainingAmount = int(amount * 100)

# Find the number of one dollars
numberOfOneDollars = int(remainingAmount / 100)
remainingAmount = int(remainingAmount % 100)

# Find the number of quarters in the remaining amount
numberOfQuarters = int(remainingAmount / 25)
remainingAmount = remainingAmount % 25

# Find the number of dimes in the remaining amount1321122121
numberOfDimes = int(remainingAmount / 10)
remainingAmount = remainingAmount % 10

# Find the number of nickels in the remaining amount
numberOfNickels = int(remainingAmount / 5)
remainingAmount = remainingAmount % 5

# Find the number of pennies in the remaining amount111
numberOfPennies = remainingAmount

# Display results
print("Your amount", amount, "consists of\n", 
    "\t", numberOfOneDollars, "dollars\n", 
    "\t", numberOfQuarters, "quarters\n",
    "\t", numberOfDimes,  "dimes\n",
    "\t", numberOfNickels, "nickels\n",
    "\t", numberOfPennies, "pennies")

Enter an amount in double, e.g., 11.56: 52.22
Your amount 52.22 consists of
 	 52 dollars
 	 0 quarters
 	 2 dimes
 	 0 nickels
 	 2 pennies

我的第十五個作業

In [24]:
import random 

# Generate random numbers
number1 = random.randint(0, 9)
number2 = random.randint(0, 9)

# Prompt the user to enter an answer111
answer = eval(input("What is " + str(number1) + " + " 
    + str(number2) + "? "))
    
# Display result    
print(number1, "+", number2, "=", answer, 
    "is", number1 + number2 == answer)

What is 6 + 3? 9
6 + 3 = 9 is True

我的第十六個作業  第四章

In [26]:
number = eval(input("Enter an integer: "))

if number % 5 == 0 :
   print("HiFive");

if number % 2 == 0 :
   print("HiEven");

Enter an integer: 8
HiEven

我的第十六個作業

In [27]:
day = 0 # birth day to be determined
  
# Prompt the user to answer the first question
question1 = "Is your birthday in Set1?\n" + \
    " 1  3  5  7\n" + \
    " 9 11 13 15\n" + \
    "17 19 21 23\n" + \
    "25 27 29 31" + \
    "\nEnter 0 for No and 1 for Yes: " 
answer = eval(input(question1))
  
if answer == 1:
   day += 1
 
# Prompt the user to answer the second question
question2 = "Is your birthday in Set2?\n" + \
    " 2  3  6  7\n" + \
    "10 11 14 15\n" + \
    "18 19 22 23\n" + \
    "26 27 30 31" + \
    "\nEnter 0 for No and 1 for Yes: " 
answer = eval(input(question2))
  
if answer == 1:
   day += 2
 
# Prompt the user to answer the third questionDASDA
question3 = "Is your birthday in Set3?\n" + \
    " 4  5  6  7\n" + \
    "12 13 14 15\n" + \
    "20 21 22 23\n" + \
    "28 29 30 31" + \
    "\nEnter 0 for No and 1 for Yes: " 
answer = eval(input(question3))
  
if answer == 1:
   day += 4
  
# Prompt the user to answer the fourth questionDASDASD
question4 = "Is your birthday in Set4?\n" + \
    " 8  9 10 11\n" + \
    "12 13 14 15\n" + \
    "24 25 26 27\n" + \
    "28 29 30 31" + \
    "\nEnter 0 for No and 1 for Yes: " 
answer = eval(input(question4))
  
if answer == 1:
    day += 8
  
# Prompt the user to answer the fifth questionASDASD
question5 = "Is your birthday in Set5?\n" + \
    "16 17 18 19\n" + \
    "20 21 22 23\n" + \
    "24 25 26 27\n" + \
    "28 29 30 31" + \
    "\nEnter 0 for No and 1 for Yes: " 
answer = eval(input(question5))
  
if answer == 1:
    day += 16

print("\nYour birthday is" + str(day) + "!")

Is your birthday in Set1?
 1  3  5  7
 9 11 13 15
17 19 21 23
25 27 29 31
Enter 0 for No and 1 for Yes: 1
Is your birthday in Set2?
 2  3  6  7
10 11 14 15
18 19 22 23
26 27 30 31
Enter 0 for No and 1 for Yes: 1
Is your birthday in Set3?
 4  5  6  7
12 13 14 15
20 21 22 23
28 29 30 31
Enter 0 for No and 1 for Yes: 0
Is your birthday in Set4?
 8  9 10 11
12 13 14 15
24 25 26 27
28 29 30 31
Enter 0 for No and 1 for Yes: 0
Is your birthday in Set5?
16 17 18 19
20 21 22 23
24 25 26 27
28 29 30 31
Enter 0 for No and 1 for Yes: 1

Your birthday is19!

我的第十七個作業